# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
pythonenv*

data-wrestler/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# OS files
.DS_Store

# IDE
.vscode/
.idea/
*.iml

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Cache
.cache/
.mypy_cache/
.pytest_cache/
.env
.env
.env
